.home {
    padding: 50px 20px;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .home > div {
    width: 48%;
  }
  